@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Merienda:wght@800&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg,#fff1f2 30%,#fda4af 70%);
    display: flex;
    justify-content: center;
    font-family: 'Merienda', cursive;
}

.container{
    height: 80%;
    width: 68%;
    display: flex;
    position: relative;
    top: 50px; 
    box-shadow: -2.5px 2.5px 5px 10px #fb7185;
    left:6%;
}


.player-0-div{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 100%; 
    width: 50%; 
    opacity: 0.4;
    background: linear-gradient(135deg,#fda4af 30%,#fff1f2 70%);
}
.player-1-div{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 100%; 
    width: 50%; 
    opacity: 0.4;
    background: linear-gradient(135deg, #fff1f2 30%,#fda4af 70%)
}

#instructions-container{
background-color: white;
height: 80%;
width: 90%;
position: relative;
top: 10%;
left: 10%;

}
#instructions-container::after{
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    content: ' ';
    top: 10%;
    left: 100%;
}

#bottom-div, #top-div{
    /* background-color: palevioletred; */
    width: 30%;
    height: 15%;
    align-items: center;
    position: relative;
    left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#players{
    font-size: 120%;
    font-weight: bold;
    padding: 10%;
}

#current{
    font-size: 120%;
    font-weight: bold;
}

#score-current-player-1{
    font-size: 120%;
}

#score-current-player-0{
    font-size: 120%;
}

#score-player-0{
    font-size: 120%;
    font-weight: bolder;
}

#score-player-1{
    font-size: 120%;
    font-weight: bolder;
}

.player-0-won-text, 
.player-1-won-text
{
    content: ' ';
    display: none;
    /* background-color:  #fb7185; */
    color: tomato;
    width: 200%;
    height: 200%;
    /* opacity: 0.7; */
    border-radius: 20px;
    border: none;
    /* background-color: transparent; */
    font-size: 200%;
    background-color: whitesmoke;
    z-index: 3;
    top: 160%;
    left: 0%;
    padding: 10% 10%;
    cursor: pointer;
    position: relative;
    font-family: 'Merienda', cursive;
    animation: animate1 1s  ease-in-out;
    animation-fill-mode:none;

}
.player-0-won-text::after,
.player-1-won-text::after{
    
    position: absolute;
    transition: rotate(360deg);
}
    @keyframes animate3 {
        from {
        transform: rotate(0deg);
        }
        to {
        transform: rotate(360deg);
        }
    }

#middle-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    position: relative;
    right: 33.5%;
    top: 15%;
    height: 70%;
    width: 9%;
}
button{
    width: 120%;
    opacity: 0.7;
    border-radius: 20px;
    border: none;
    padding: 10% 10%;
    cursor: pointer;
    position: relative;
    font-family: 'Merienda', cursive;
}

@keyframes animate2 {
        from {
        transform: rotate(0deg);
        }
        to {
        transform: rotate(360deg);
        }
    }


#dice-top{
    height: 15%;
    width: 60%;
    background-color: white;
    position: relative;
    left: 20%;
    /* margin: auto; */
}

#dice-bottom{
    height: 15%;
    width: 60%;
    position: relative;
    left: 20%;
    background-color: white;
    /* margin: auto; */
}

img{
    height: 100%;
    width: 100%;
    z-index: 1;
}

.winner{
    background: #fca5a5;
    opacity: 1;
    color: #9f1239;
    font-weight: 700;
}

.player-active{
opacity: 1;
}

.hidden{
    display: none;
}

.win-div{
    border-radius: 70px;
    border: 2px solid none;
    padding: 10px ;
    width: 60px;
    font-size: 15px;
    position: relative;
    left: 40%;
}

.win-div::before{
    content: ' ';
    height: 100%;
    width: 100%;
    border-left: 1.5px solid #fb7185;
    border-right:1.5px solid none;
    border-top:3px solid none ;
    border-bottom:3px solid none;
    border-radius: 100%;
    /* background-color:black; */
    position: absolute;
    animation: animate1 1s infinite ease-in-out;
    left:-1.25px;
    top: -2px;
    z-index: 2;
}


    @keyframes animate1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    }

.double-6,
.double-3
{
    display: none;
    position:absolute;
    background-color:#fb7185;
    height: 10%;
    width: 65%;
    left: 19%;
    top: 40%;
    z-index: 2;
    text-align: center;
    font-size: 200%;
    border-radius: 20px;
}

.double-3{
    left: 19%;
    top: 30%;
}