@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Merienda:wght@800&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg,#fff1f2 30%,#fda4af 70%);
    display: flex;
    justify-content: center;
    font-family: 'Merienda', cursive;
}
.container{
    height: 80%;
    width: 70%;
    display: flex;
    position: relative;
    top: 50px; 
    box-shadow: -2.5px 2.5px 5px 10px #fb7185;

}


.player-0-div{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 100%; 
    width: 50%; 
    opacity: 0.4;
    background: linear-gradient(135deg,#fda4af 30%,#fff1f2 70%);
}
.player-1-div{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 100%; 
    width: 50%; 
    opacity: 0.4;
    background: linear-gradient(135deg,#fda4af 30%,#fff1f2 70%)
}

#instructions-container{
background-color: white;
height: 80%;
width: 90%;
position: relative;
top: 10%;
left: 10%;

}
#instructions-container::after{
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    content: ' ';
    top: 10%;
    left: 100%;
}

#bottom-div, #top-div{
    /* background-color: palevioletred; */
    width: 30%;
    height: 15%;
    align-items: center;
    position: relative;
    left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#players{
    font-size: 120%;
    font-weight: bold;
    padding: 10%;
}

#current{
    font-size: 120%;
    font-weight: bold;
}

#score-current-player-1{
    font-size: 120%;
}

#score-current-player-0{
    font-size: 120%;
}

#score-player-0{
    font-size: 120%;
    font-weight: bolder;
}

#score-player-1{
    font-size: 120%;
    font-weight: bolder;
}

#middle-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    position: relative;
    right: 40%;
    top: 20%;
    height: 70%;
    width: 9%;
}
button{

    width: 120%;
    opacity: 0.7;
    border-radius: 20px;
    border: none;
    /* background-color: transparent; */
    padding: 10% 10%;
    cursor: pointer;
    position: relative;
    font-family: 'Merienda', cursive;
}

/* button::after{
    content: ' ';
    height: 125%;
    width: 45%;
    padding: 10% 10%;

    border-left: 1.5px solid #fb7185;
    border-right:1.5px solid none;
    border-top:3px solid none ;
    border-bottom:3px solid none;
    border-radius: 80%;

    position: absolute;
    animation: animate2 1s infinite ease-in-out;
    left:20px;
    top: -1px;
    z-index: 2;
}
 */

@keyframes animate2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
#dice-top{
    height: 12%;
    width: 75%;
    background-color: white;
    position: relative;
    left: 20%;
    /* margin: auto; */
}

#dice-bottom{
    height: 12%;
    width: 75%;
    position: relative;
    left: 20%;
    background-color: white;
    /* margin: auto; */
}

img{
    height: 100%;
    width: 100%;
    z-index: 1;
}

.winner{
    background: black;
    opacity: 1;
    color: red;
    font-weight: 700;
}

.player-active{
opacity: 1;
}

.hidden{
    display: none;
}

.win-div{
    border-radius: 70px;
    border: 2px solid none;
    padding: 10px ;
    width: 60px;
    font-size: 15px;
    position: relative;
    left: 40%;
}

.win-div::before{
    content: ' ';
    height: 100%;
    width: 100%;
    border-left: 1.5px solid #fb7185;
    border-right:1.5px solid none;
    border-top:3px solid none ;
    border-bottom:3px solid none;
    border-radius: 100%;
    /* background-color:black; */
    position: absolute;
    animation: animate1 1s infinite ease-in-out;
    left:-1.25px;
    top: -2px;
    z-index: 2;
}


@keyframes animate1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sounds{
    /* background: none; */
    height: 10px;
}




/* modal */
   .hidden{
    display: none;
   }

   .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    background-color: crimson;
    padding:  6rem ;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
   }

   .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);

   }


   @media (max-width:800px) {
    #middle-container{
        display: flex;
        flex-direction: row;
        height: 20%;
        width: 20%;
        position: relative;
        top: 2%;
    }

    button{

        width: 100%;
        height: 40%;
        opacity: 0.7;
        border-radius: 20px;
        border: none;
        padding: 10% 10%;
        cursor: pointer;
        position: relative;
    }
    #dice-top{
        height:30%;
        width: 75%;
        background-color: white;
        position: relative;
        left: -25%;
        /* margin: auto; */
    }
    
    #dice-bottom{
        height:30%;
        width: 75%;
        position: relative;
        left: -20%;
        background-color: white;
        /* margin: auto; */
    }
    
    
    
   }